<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
  <!-- /static/images/blog32.png -->

  <!-- Import the Bootstrap stylesheet -->
  <script src="../static/custom_js_and_css/bootstrap.bundle.js"></script>
  <script src="../static/custom_js_and_css/jquery-3.6.1.js"></script>




  <link rel="icon" type="image/x-icon" href="/static/images/tuRinconIcon.png">
  <title>Tu Rincón</title>

</head>

<body id="body">

  <section class="navbar_section">

    <div class="navbar navbar_custom  bg-primary " id="nav_section">

      <div class="left_and_middle">

        <div class="nav_left">

          <a href="{{ url_for('main.home') }}">

            <div class="logo">
              <!-- ../static/images/blog600.png -->
              
              <img class="ws_logo_big" width="128" alt="API Tester PNG - big" src="{{ url_for('static', filename='images/tuRinconIcon.png') }}">
              
              <img class="ws_logo_small" alt="API Tester PNG - small" src="{{ url_for('static', filename='images/tuRinconIcon.png') }}">

            </div>

          </a>

        </div>


        <div class="middle_nav_div">
          {% if rincon_name %}
          <h1>{{ rincon_name }}</h1>
          {% else %}
          <h1>Tu Rincón</h1>
          {% endif %}

          {% if current_user %}
          {{ current_user.username }}
          {% endif %}

        </div>

      </div>

      <img class="mobile-menu" id="mobile-cta" src="{{ url_for('static', filename='images/white-hamburger-menu-icon-24.png') }}"
        alt="Open Navigation">

      <nav>
        <img id="mobile-exit" class="mobile-menu-exit" src="{{ url_for('static', filename='images/exit.svg') }}" alt="Close Navigation">

        <ul class="primary-nav ul_primary" id="nav_horizontal_list">
          <br>

          {% if current_user.id %}
          <li class="nav-item li_primary"><a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
          {% else %}
          <li class="nav-item li_primary"><a class="nav-link" href="{{ url_for('users.login') }}">Login</a></li>
          {% endif %}
          {% if current_user.admin %}
          <li class="nav-item li_primary"><a class="nav-link" href="{{ url_for('admin.admin_page') }}">Admin Page</a></li>
          {% endif %}


          {% if rincon_name %}
          <br><br>


          <li class="li_primary">
            <div class="btn_list_div">
              <div class="btn_list_div_sub">
                {% if current_user.is_authenticated %}
                <button type="button" class="form-control custom_post_btn" data-bs-toggle="modal"
                  data-bs-target="#postModal" data-bs-whatever="Some data">Post
                </button>
                {% else %}
                <button type="button" class="form-control custom_post_btn" data-bs-toggle="modal"
                  data-bs-target="#notSignedInModal" data-bs-whatever="Some data">Post
                </button>
                {% endif %}
              </div>
            </div>
          </li>

          {% if rincon %}
          <li class="li_primary">
            <div class="btn_list_div">
              <div class="btn_list_div_sub">
                <button type="button" class="form-control custom_post_btn" data-bs-toggle="modal"
                  data-bs-target="#inviteModal" data-bs-whatever="{{ rincon.id }}">Invite
                </button>
              </div>
            </div>
          </li>
          <br><br>

          
          {% if current_user.id == rincon.manager_id %}
          <li class=" ">
            <div class="btn_list_div">

              <div class="btn_list_div_sub">
                <button type="button" class="form-control custom_delete_btn" data-bs-toggle="modal"
                  data-bs-target="#deleteModal" data-bs-whatever="Some data">Delete Rincón
                </button>
              </div>

            </div>

          </li>
          {% endif %}
          {% endif %}

          {% endif %}



        </ul>
      </nav>


  </section>

  <form method="POST" id="form_modal_post" enctype=multipart/form-data></form>
  <form method="POST" id="form_modal_delete"></form>
  <form method="POST" id="form_modal_invite"></form>
  <form method="POST" id="form_modal_comment"></form>
  <!-- Modal  -->
  <div class="modal" tabindex="-1" role="dialog" id="postModal">
    {% include "modals/post.html" %}
  </div>
  <div class="modal" tabindex="-1" role="dialog" id="inviteModal">
    {% include "modals/invite.html" %}
  </div>
  <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    {% include "modals/delete.html" %}
  </div>
  <div class="modal" tabindex="-1" role="dialog" id="notSignedInModal">
    {% include "modals/notSignedIn.html" %}
  </div>

  <div class="flash_custom_parent">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div class="alert alert-{{ category }} alert_custom" id="div_flash">
      <i class="close icon"></i>

      {{ message }}
      <div class="close_right">
        <input type="button" value=&#10006 onclick="removeFlash()" class="btn btn-secondary btn_custom02">
      </div>

    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

  </div>

  {% block main %}{% endblock %}
  <script>
    const mobileBtn = document.getElementById('mobile-cta')
    nav = document.querySelector('nav')
    mobileBtnExit = document.getElementById('mobile-exit');

    mobileBtn.addEventListener('click', () => {
      nav.classList.add('menu-btn');
    })

    mobileBtnExit.addEventListener('click', () => {
      nav.classList.remove('menu-btn');
    })
  </script>


  <!-- Remove flash on click -->
  <script>
    function removeFlash() {
      const element = document.getElementById('div_flash');
      element.remove();
    }
  </script>

  <!-- assign navbar height to --nav-height -->
  <script>document.documentElement.style.setProperty('--nav-height', `${document.getElementById("nav_section").offsetHeight}px`);</script>

</body>


<footer class="footer" id="footer_custom">
  <div class=footer_right>
    <a class="footer_link_item" href="https://iamnick.info">Contact</a>
    <!-- <a class="footer_link_item" href="{{ url_for('main.home') }}">Privacy</a> -->
  </div>
</footer>

</html>