{% extends "_layout.html" %}
{% block main %}
<section class="main">
  <div class="home_page">
    <div class="title">
      <h1>Home</h1>
    </div>
    
    <div class="home_sub">

      <div class="std_framing home_framing">
        Tu Rincón is a space designed for small, intimate groups seeking a cozy and welcoming online space.
      </div>
  
      <div class="home_buttons">

        <a class="div_button home_register" href="{{ url_for('users.register') }}">
          Register
        </a>
        
        <a class="div_button home_login" href="{{ url_for('users.login') }}">
          Login
        </a>
  
      </div>

    </div>



  </div>
</section>


{% endblock %}