{% extends "_layout.html" %}
{% block main %}
<section class="main">
  <div class="home_page">
    <div class="title">
      <h1>Home</h1>
    </div>
    
    <div class="home_sub">

      <div class="std_framing">
        Tu Rincón is a social media app designed for small, intimate groups seeking a cozy and welcoming online space. Set up your group or join an existing one.
      </div>
  
      <!-- <div class="login_group">
        <div class="login">
          email:
          <input type="email" class="form-control"  placeholder="Enter email" name="email">
        </div>
        <div class="login">
          password: 
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
      </div> -->

    </div>



  </div>
</section>


{% endblock %}