{% extends "_layout.html" %}
{% block main %}
<div class="main">


<div class="privacy_page">

  <div class = "about_us_body">
    <div class = "title"><h1>
      {{ page_name }}
    </h1>
      
    </div>

    <div class="div_writing">
        <div class = "writing_content">

          Hi! I am Nick. Creator of Tu Rincón. I love building stuff so 
          I wanted to make something to connect with friends, family and new acquaintences. 
          <br><br>

          Feel free to use this site as you like and let me know how it goes.
          <br><br>
          You can get more information about me here:
          <a class="" href="https://iamnick.info">More About Me</a>

          <br><br>
          Contact me directly at: nick@dashanddata.com
        </div>

    </div>
    <br>


  </div>

</div>
</div>



{% endblock %}