{% extends "_layout.html" %}
{% block main %}
<div class="main">
  <div class="home_page">
    <!-- <div class="title">
      <h1>Home</h1>
    </div> -->
    
    <div class="home_sub">

      <div class="std_framing home_framing">
        Rincón
        <br><br>
        <b>Etymology</b>
        <hr>
        Spanish <i>rincón</i>, literally, corner, nook, alteration of recón, rencón from Arabic dialect (Spain) <i>rukun</i> (Arabic <i>rukn</i>)
        <br><br>
        <b>First Known use</b>
        <hr>
        1589
      </div>
  
      <div class="home_buttons">

        <a class="div_button home_register" href="{{ url_for('users.register') }}">
          Register
        </a>
        
        <a class="div_button home_login" href="{{ url_for('users.login') }}">
          Login
        </a>       
        
        <a class="div_button home_costa_rica_feed" href="{{ url_for('main.rincon', rincon_id=1) }}">
          View costa_rica Rincón
        </a>
  
      </div>

    </div>



  </div>
</div><!-- main -->


{% endblock %}