{% extends "_layout.html" %}
{% block main %}
<form method="POST" id="form_1"></form>

<section class="main">
  <div class="rincons_search_page">
    <div class="title">
      <h1>Search Rincons</h1>
    </div>

    <div class="rincons_sub">

      {% if rincon_list == "no_rincons" %}
      <div class="search_form_group">
        <!-- <label for="search">Search:</label> -->
        <input type="text" id="rincon" name="search_string" class="register_text" form="form_1"
          placeholder="Enter rincón name">

        <div class="element_right">
          <input type="submit" value="Submit" class="btn btn-secondary btn_custom01" form="form_1">
        </div>

      </div>

      {% else %}

      <div class="element_right">
        <button type="submit" name="reset_search" value="true" class="btn btn-secondary btn_custom01" form="form_1">Reset Search</button>
      </div>

      <br><br>

      <hr>


      <div class="search-container">
        <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for names...">
      </div>
      <table id="myTable" class="responsive-table">
        <thead>
          <tr>
            
            {% for col in column_names %}
            <th>{{ col }}</th>
            {% endfor %}
            <th> </th>
            <!-- <th> </th> -->
            <!-- <th>Age</th>
            <th>City</th> -->
          </tr>
        </thead>
        <tbody>
          {% for row in rincon_list %}
          <tr>
            
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>
              {% if row[3] == False %}
              <button type="submit" name="join"value="{{ row[0] }}" class="btn btn-info btn_custom01" form="form_1">Join</button>
              {% else %}
              <button type="submit" name="leave"value="{{ row[0] }}" class="btn btn-warning btn_custom01" form="form_1">Leave</button>
              {% endif %}

            </td>


          </tr>
          {% endfor %}

        </tbody>
      </table>

      <script src="../static/custom_js_and_css/searchTable.js"></script>
  



    </div><!--rincons_sub-->




    {% endif %}



  </div><!-- rincons_sub -->



  </div><!-- rincons_search_page -->
</section>


{% endblock %}