{% extends "_layout.html" %}
{% block main %}
<form method="POST" id="form_1"></form>
<form method="POST" id="form_modal_comment" ></form>
<form method="POST" id="form_delete_post" ></form>
<form method="POST" id="form_delete_comment" ></form>


<div class="main">
  <div class="rincon_page">

    <div class="rincon_sub">

      {% for post in rincon_posts %}
      <div class="rincon_post_card_super" id="like_{{ post.post_id }}"><!-- id is for anchor to return from like-->

        <div class="rincon_post_card">

          <div class="post_and_engagement">

            <div class="post" >

              <div class="date_div">
                <div class="date_div_sub">
                  {{ post.date }}
                </div>
              </div>
              
              <div class="username_div">
                <div class="username_div_sub">
                  {{post.username}}
                </div>
              </div>
              
              <div class="post_text_div">
                <div class="post_text_div_sub">
                  

                  {% if len(post.post_text) == 1 %}
                  <div class="keep_line_break">
                    {{ post.post_text['text'] }}
                  </div>
                    
                  {% elif len(post.post_text) > 1 %}
                  <div class="no_line_break">
                    
                    {% for key, value in post.post_text.items() %}
                    {% if key.0 == 't' %}
                    <!-- <p class="post_text_line_break_custom"> -->
                    {{ value }} 
                    <!-- </p> -->
                    {% else %} 
                    <a href="{{ value }}">{{ value[:22] }}</a>
                    {% endif %}
                    {% endfor %}
                  
                  </div><!-- keep_line_break-->
                {% endif %}
 
                </div>
              </div>


              
                {% include 'main/post_images_include.html' %}
                

                          
            </div><!-- post -->

            <div class="line_break_div">
              <hr>
            </div>

            <div class="post_engagement">
              <div class="post_engagement_sub">

                <div class="post_engagement_sub_left">
                  {% if post.delete_post_permission %}
                    <div class="delete_btn_div">
                      <button type="submit" name="btn_delete_post" value="{{ post.post_id }}" 
                      form="form_delete_post">Delete</button>
                    </div>
                  {% endif %}
                </div><!-- post_engagement_sub_left -->


                <div class="post_engagement_sub_right">

                  <div class="comment_btn_div">

                    {% if current_user.is_authenticated %}
                    <button type="button" class="btn btn-primary"
                      data-bs-toggle="modal" data-bs-target="#commentModal" data-bs-whatever="{{ post.post_id }}"
                      >
                      comment
                    </button>

                    {% else %}
                    <button type="button" class="btn btn-primary"
                      data-bs-toggle="modal" data-bs-target="#notSignedInModal" data-bs-whatever="{{post.post_id}}">
                      comment
                    </button>
                    {% endif %}


                  </div>

                  <div class="post_like_count">
                    {% if post.like_count > 0 %}
                    {{ post.like_count }}
                    {% endif %}
                  </div>

                  {% if current_user.is_authenticated %}
                  <a href="{{ url_for('main.like_post', rincon_id=rincon.id, post_id= post.post_id)}}" >
                    {% if post.liked %}
                    <img class="thumbs_up_icon" alt="" id="thumbs_up_icon"
                    src="{{ url_for('static', filename= 'images/thumbs-up-15-512.png') }}">
                    {% else %}
                    <img class="thumbs_up_icon" alt="" id="thumbs_up_icon"
                    src="{{ url_for('static', filename= 'images/thumbs-up-16-512.png') }}">
                    {% endif %}
                  </a>
                  {% else %}
                  <button type="button" class="btn"
                  data-bs-toggle="modal" data-bs-target="#notSignedInModal" data-bs-whatever="{{post.post_id}}">
                  <img class="thumbs_up_icon" alt="" id="thumbs_up_icon"
                  src="{{ url_for('static', filename= 'images/thumbs-up-16-512.png') }}">
                </button>

                  {% endif %}


                </div><!-- post_engagement_sub_right -->

              </div><!-- post_engagement_sub -->
            
            </div><!-- post_engagement -->

            <div class="line_break_div">
              <hr>
            </div>
            <div class="show_comments">


              {% for comment in post.comments %}
              <div class="show_comments_sub">


                <div class="comment_card">
                  {% for key, item in comment.items() %}
                    
                      {% if key == 'date' %}
                      <div class="comment_date_div">
                        <div class="comments_date">
                          {{ item }}
                        </div>
                      </div>
                      {% endif %}

                      {% if key == 'username' %}
                      <div class="username_div ">
                        <div class="comments_username">
                          {{item}}
                        </div>
                      </div>
                      {% endif %}

                      {% if key == 'comment_text' %}
                      <div class="comment_text_div">
                        <div class="comment_text_div_sub">
                          <p class="comment_text_line_break_custom">
                            {{item}}
                          </p>
                          
                        </div>
                      </div>
                      {% endif %}

                      {% if key == 'delete_comment_permission' %}

                        {% if item %}
                        <div class="delete_comment_div">
                          <div class="delete_comment_div_sub">

                            <button type="submit" name="btn_delete_comment" value="{{ comment.comment_id }}" 
                             form="form_delete_comment">Delete</button>
                          </div>
                          
                        </div>
                        
                        {% endif %}

                      {% endif %}

                  {% endfor %}


                </div>
              

              </div><!-- show_comment_sub-->
              {% endfor %}

            </div><!-- show_comments -->

          </div><!-- post_and_engagement -->

        </div><!-- rincon_post_card -->
        
      </div><!-- rincon_post_card_super -->

  <!-- Modal  -->
  <div class="modal" tabindex="-1" role="dialog" id="commentModal">
    {% include "modals/comment.html" %}
  </div>
  <div class="modal" tabindex="-1" role="dialog" id="notSignedInModal">
    {% include "modals/notSignedIn.html" %}
  </div>

      {% endfor %}

    </div><!--rincon_sub-->

  </div><!--rincon_page-->

</div><!-- main -->









{% endblock %}