<div class="modal-dialog create_post_modal" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Create Post</h5>
      <button type="button" id="close_button" class="btn">&times;</button>
    </div>

    <div class="modal-body">
      <!-- Text box -->
      <textarea class="form-control custom_textarea" name="post_text" form="form_modal_post" rows="5">test</textarea>
      <!-- Add image file name -->
      <div id="file-name"></div>
    </div>

    <div class="modal-footer">
      <div class="footer_sub">
        
        <div class="icon_add_photo">
          <a href="#">
            <img src="../static/images/collections-3-512.png" alt="Photo Album Icon" id="album-icon">
          </a>
          <input type="file" id="file-input" name="add_photo_file" style="display:none" form="form_modal_post"
            accept=".png,.jpeg,.jpg,.gif, .MP4, .mp4" >
        </div>

        <div class="btn_div">
          <button type="submit" name="btn_post" value="true" class="btn btn-primary"
            form="form_modal_post">Post</button>
        </div>
      </div><!--footer_sub-->
    </div><!--modal-footer-->

  </div><!-- modal-content -->
</div><!-- modal-dialog create_post_modal -->

<script>
  $(document).ready(function () {
    $("#close_button").click(function () {
      $("#postModal").modal("hide");
    });
  });
</script>


<script>
  const fileInput = document.getElementById("file-input");
  const fileNameDisplay = document.getElementById("file-name");
  document.getElementById("album-icon").onclick = function () {
    fileInput.click();
  };
  fileInput.onchange = function () {
    fileNameDisplay.innerHTML = "Selected file: " + fileInput.files[0].name;
  };
</script>