@use "custom";
@use "navbar";
@use "photo_multiple";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --nav-height: 123px;
  // --table-chart-width: 100%;
}

body {
  // background-color: #CFD4D9;
  background-color: var(--bs-gray-400);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

.main {
  padding-top: var(--nav-height);
  padding-bottom: var(--nav-height);
  display: flex;
  justify-content: center;
}

.std_framing {
  border: 1px solid var(--std_framing_border_color);
  border-width: .5em;
  border-radius: 3rem;
  background-color: var(--bs-gray-500);
  // padding: 1rem 0 1rem 0;
  padding: 1rem;
  color: var(--nick_page_theme_font_color);
  // width: 100%;
  font-size: var(--normal_font_size)
}

/* Home Page */
.home_page {
  width: 90%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }

  .home_sub {
    // padding: 2rem 5rem 2rem 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  // .login_group {
  //   max-width: 75rem;
  // }
  .home_framing{
    padding: 2rem;
  }
  .home_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    width: 100%;
  }

  .div_button {
    // margin: 0 0 0 0;
    padding: 1rem 0 1rem 0;
    width: 100%;
    border-radius: 3rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .home_register {
    background-color: var(--bs-primary);
    border: solid var(--bs-primary);
    border-width: .5rem;
    color: var(--bs-gray-200);
    margin-bottom: 1rem;
    text-decoration: none;
  }

  .home_login {
    color: var(--bs-primary);
    border: solid var(--bs-primary);
    border-width: .5rem;
    text-decoration: none;
    margin-bottom: 1rem;
  }

  .home_costa_rica_feed {
    background-color: var(--bs-primary);
    border: solid var(--bs-primary);
    border-width: .5rem;
    color: var(--bs-gray-200);
    margin-bottom: 1rem;
    text-decoration: none;
  }

}

/* Login Page */
.login_page {
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }

  .login_form {
    border-radius: 1.5em;
    padding: 3rem 0 3rem .0;
    width: calc(100% - .5rem);
    font-size: 1.5em;
    background-color: white;
    display:flex;
    justify-content: center;

    .login_form_sub{
      width: calc(100% - 1rem);
    }

    .email_form,
    .password_form {
      input {
        width: 100%
      }

      // .register_text{width:100%}
    }

    .element_right {
      float: right;
      padding-bottom: 2rem;
    }

    .show_password {
      padding: 1rem 1rem;
    }

    .element_right_sub {
      // padding: 1rem 1rem;
      float: right;
    }

    .forgot_password {
      font-size: 1rem;
      // float:right;
      padding-bottom: 3rem;
    }
  }
}

/* Register Page */
.register_page {
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }

  .register_form {
    border-radius: 1.5em;
    padding: 3rem 0 3rem .0;
    width: calc(100% - .5rem);
    // margin: 0 0 0 .2rem;
    font-size: 1.5em;
    background-color: white;
    display:flex;
    justify-content: center;
  }
  .register_form_sub{
    width: calc(100% - 1rem);
  }
  .register_text{
    // padding:0 1rem 0 1rem;
    width: 100%;
  }
  .submit_form_group{
  float:right;
  padding:1rem 1rem 0 0;
  }

  .element_right {
    float:right;
  }


}

/* Rincons Page */
.rincons_page{
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .rincons_form_super {
    border-radius: 1.5em;
    padding: 3rem 0 10rem .2rem;
    margin: 0 0 0 .2rem;
    font-size: 1.5em;
    background-color: white;
    color: var(--bs-gray-800);
    display: flex;
    justify-content: center;
  }
  .rincons_form{
    width: calc(100% - .5rem);
  }
  // .home_framing{
  //   padding: 2rem;
  // }
  .rincon_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    width: 100%;
  }

  .div_button {
    // margin: 0 0 0 0;
    padding: 1rem 0 1rem 0;
    width: 100%;
    border-radius: 3rem;
    font-size: 2.5rem;
    text-align: center;
  }

  .search {
    background-color: var(--bs-primary);
    border: solid var(--bs-primary);
    border-width: .5rem;
    color: var(--bs-gray-200);
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 1.8rem;
  }

  .create {
    color: var(--bs-primary);
    border: solid var(--bs-primary);
    border-width: .5rem;
    text-decoration: none;
    font-size: 2rem;
  }

  .line_break_div{
    padding:2rem .5rem
  }
  hr{
    border-top: .25rem solid var(--bs-gray-900);
    border-radius: 1rem;
  }

  /* Table */
    table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  input[type=text] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    width: 80%;
    font-size: 16px;
    outline: none;
  }
  
  input[type=text]:focus {
    border-bottom: 2px solid #555;
  }
    
  #searchableTable01 {
    border-collapse: collapse;
  }
  
  #searchableTable01 th,
  #searchableTable01 td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  #searchableTable01 th {
    background-color: #f2f2f2;
    color: #555;
  }
  
  #searchableTable01 tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #searchableTable01 tbody tr:hover {
    background-color: #ddd;
  }
  
  #searchableTable01 a {
    text-decoration: none;
    color: inherit;
  }
  
  #searchableTable01 a:hover {
    background-color: #ddd;
  }
  

}

/* Create Rincons Page */
.create_rincon_page{
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .rincons_sub {
    border-radius: 1.5em;
    padding: 3rem 0 3rem .0;
    width: calc(100% - .5rem);
    // margin: 0 0 0 .2rem;
    font-size: 1.5em;
    background-color: white;
    display:flex;
    justify-content: center;
  }



  .title {
    width: 100%;
  }

  // .register_form {
  //   border-radius: 1.5em;
  //   padding: 3rem 0 3rem .0;
  //   width: calc(100% - .5rem);
  //   // margin: 0 0 0 .2rem;
  //   font-size: 1.5em;
  //   background-color: white;
  //   display:flex;
  //   justify-content: center;
  // }

  .create_form_group{
    width: calc(100% - 1rem);
  }
  .register_text{
    // padding:0 1rem 0 1rem;
    width: 100%;
  }


  .element_right {
    padding-top:1rem;
    float:right;
    // width:100%;
  }

  .submit_form_group{
    float:right;
    padding:1rem 1rem 0 0;
    }

  // .element_right {
  //   float:right;
  //   // width:100%;
  // }

}

/* Search Rincons Page */
.rincons_search_page{
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .rincons_search_card {
    border-radius: 1.5em;
    padding: 3rem 0 10rem 0;
    margin: 0 0 0 .2rem;
    font-size: 1.5em;
    background-color: white;
    color: var(--bs-gray-800);
    display: flex;
    justify-content: center;
    width:calc(100% - .5rem);
  }
  .rincons_search_form{
    width: calc(100% - .5rem);
    display:flex;
    flex-wrap:wrap;
  }
  .search_form_group{
    width:100%;
  }
  .register_text{
    width:100%
  }
  .element_right_super{
    width:100%;
  }
  .element_right {
    padding:1rem 0;
    float:right;
    // width:100%;

  }
  .search_string_display_label{
    width:100%;
  }
  .search_string_display_div{
    width:100%;
    display:flex;
    justify-content: center;
  }
  .search_string_display_div_sub{
    background-color: var(--bs-gray-200);
    padding:1rem;
  }
  .line_break_div{
    padding:2rem .5rem;
    width:100%;
  }
  hr{
    border-top: .25rem solid var(--bs-gray-900);
    border-radius: 1rem;
  }




   /* Table */
   table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  input[type=text] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    width: 80%;
    font-size: 16px;
    outline: none;
  }
  
  input[type=text]:focus {
    border-bottom: 2px solid #555;
  }
    
  #searchableTable01 {
    border-collapse: collapse;
  }
  
  #searchableTable01 th,
  #searchableTable01 td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  #searchableTable01 th {
    background-color: #f2f2f2;
    color: #555;
  }
  
  #searchableTable01 tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #searchableTable01 tbody tr:hover {
    background-color: #ddd;
  }
  
  #searchableTable01 a {
    text-decoration: none;
    color: inherit;
  }
  
  #searchableTable01 a:hover {
    background-color: #ddd;
  }
  
}

/* Rincon Page */
.rincon_page {

  // width: 95%;
  width: calc(100% - .5rem);
  .rincon_post_card_super{//Gray area between cards
    padding:1rem 0 0 0;
    display:flex;
    justify-content: center;
  }
  .rincon_post_card {// white area containing post with corner radius
    width: 100%;
    border-radius: 1.5em;
    padding: 1rem 0 2rem .2rem;
    margin: 0 0 0 .2rem;
    font-size: 1.5em;
    background-color: white;
    color: var(--bs-gray-800);
    display:flex;
    justify-content: center;
  }
  .post_and_engagement{// div containing everything inside card
    width: calc(100% - .5rem);
  }



  // Section with only user's actual post stuff
  .date_div{
    width:100%;
  }
  .date_div_sub{
    display: flex;
    justify-content: end;
    font-size: 1rem;
    color: var(--bs-gray-400);
    padding:0 .2rem 0 0;
  }
  .username_div{
    width: 100%;
  }
  .username_div_sub{
    display: flex;
    font-size: 1.2rem;
    color: var(--bs-gray-500)
  }
  .post_text_div{
    width:100%;
    padding:0;
    margin:0;
  }
  .post_text_div_sub{
    padding:0 .2rem 0 .2rem;

    .post {
      // border: 1px solid gray;
      // padding: 10px;
      // margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
    }
    .post-text {
      white-space: pre-wrap;
      flex-basis: 100%;
    }
    .post-url {
      color: blue;
      text-decoration: underline;
    }
    .post-url:before {
      content: "(";
    }
    .post-url:after {
      content: ")";
    }

  }
  .post_text_line_break_custom{
    white-space: pre-line;
    // overflow-wrap: break-word;
    margin-top: -2rem;
  }
  // .keep_inline{
  //   display: inline;
  // }
  .keep_line_break{
    white-space: pre-line;
  }


  // END section of user's posts

  .line_break_div{
    width:100%
  }

  // START section of engagement with post
  .post_engagement{
    width:100%;
  }
  .post_engagement_sub{
    display: flex;
    justify-content: end;
    // width: 100%;
  }
  .post_engagement_sub_left{
    width:50%;
  }
  .post_engagement_sub_right{
    width:50%;
  }
  .delete_btn_div{
    padding: 0 0 0 1rem;
    button{
      background: none!important;
      border: none;
      padding: 0!important;
      /*optional*/
      font-family: arial, sans-serif;
      /*input has OS specific font-family*/
      color: var(--bs-gray-500);
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .post_engagement_sub_right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .comment_btn_div{
    .btn-primary{
      background-color: var(--bs-blue);
      --bs-btn-border-color: var(--bs-blue);
    }
  }

  .thumbs_up_icon{
    width: 2rem;
    max-height: 2rem;
  }

  #thumbs_up_icon{
    width:2rem;
    // height:auto;
    border-radius: .5rem;
  }
  
  #thumbs_up_icon {
    transition: background-color 0.1s ease-in-out;
  }
  
  #thumbs_up_icon:active {
    background-color: var(--bs-gray-600);
    border-radius: .5rem;
  }


// END section of engagement with post

// START comments section
  .show_comments{
    padding:1rem 0 0 0;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .show_comments_sub{
    width: calc(100% - .5rem);
    padding: .25rem;
  }
  .comment_card{
    width:100%;
    font-size: .8rem;
    background-color: var(--bs-gray-200);
    color: var(--bs-gray-800);
    border-radius: 1.5em;
    padding: .5rem ;
  }

  .comment_text_div{
    width:100%;
    padding:0;
    margin:0;
    // background-color: red;
  }
  .comment_text_div_sub{
    padding:0 .2rem 0 .2rem;

  }
  .comment_text_line_break_custom{
    white-space: pre-line;
    // overflow-wrap: break-word;
    margin-top: -1.1rem;
    margin-bottom: -.5rem;
  }
  .comment_date_div{
    margin-bottom:-.5rem;
  }
  .comments_date{
    display: flex;
    justify-content: end;
    color: var(--bs-gray-600);
    padding:0 .2rem 0 0;
    font-size: .7rem;
    margin:0
  }
  .comments_username{
    display: flex;
    // font-size: 1.2rem;
    color: var(--bs-gray-600);
    font-size: .8rem;
    margin:0
  }

  .delete_comment_div{
    width: 100%;
    display: flex;
    justify-content: end;
    // background-color: green;
  }
  .delete_comment_div_sub{
    font-size: .9rem;
    color: var(--bs-gray-500);
    // padding: 0 0 0 1rem;
    button{
      background: none!important;
      border: none;
      padding: 0!important;
      /*optional*/
      font-family: arial, sans-serif;
      /*input has OS specific font-family*/
      color: var(--bs-gray-500);
      text-decoration: underline;
      cursor: pointer;
    }
  }


}

/* Post Image Page */
.post_image_page{
  // width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .div_right_back{
    width:100%;
    text-align: end;
    // background-color: red;
    padding-right: 2rem;
    font-size: 1.5rem;
  }

  .img_class_border_super{
    width:100%;
    border: 1px solid var(--bs-gray-500);
    // border-width: .5em;
    // width: 15rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;

  }
  img{
    width: 100%;
    width: calc(100% - 0rem);
    height: auto;
    max-width: 100%;
  }

}

/* Create Post Modal */
.create_post_modal{
  .footer_sub{
    display:flex;
    justify-content: end;
    width:100%;
  }
  .icon_add_photo{
    padding:0 2rem 0 0;
  }
  #icon_photo_album{
    width:2rem;
    // height:auto;
    border-radius: .5rem;
  }
  
  #icon_photo_album {
    transition: background-color 0.1s ease-in-out;
  }
  
  #icon_photo_album:active {
    background-color: var(--bs-gray-600);
    border-radius: .5rem;
  }



  .icon_add_video{
    padding:0 2rem 0 0;
  }
  #icon_video{
    width:2rem;
    // height:auto;
    border-radius: .5rem;
  }
  
  #icon_video {
    transition: background-color 0.1s ease-in-out;
  }
  
  #icon_video:active {
    background-color: var(--bs-gray-600);
    border-radius: .5rem;
  }


}

/* Rincon Comment Modal */
.create_comment_modal{

  .custom_modal_comment_btn{
    background-color: var(--bs-blue);
    --bs-btn-border-color: var(--bs-blue);
  }
  .hide_textbox{display:none}

}

/* Rincon Invite Modal */
.create_invite_modal{

  .custom_modal_comment_btn{
    background-color: var(--bs-blue);
    --bs-btn-border-color: var(--bs-blue);
  }
  .hide_textbox{display:none}

}

/* Rincon Admin Page */
/* Login Page */
.rincon_admin_page {
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }

  .rincon_admin_form {
    border-radius: 1.5em;
    padding: 3rem 0 3rem .0;
    width: calc(100% - .5rem);
    font-size: 1.5em;
    background-color: white;
    display:flex;
    justify-content: center;

    .rincon_admin_form_sub{
      width: calc(100% - 1rem);
    }
  }
  .element_right_sub {
    display: flex;
    justify-content: end;
    padding: 2rem 0 0 0;
  }
}


/* Admin DB Page */
.admin_page {
  width: 90%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }
  .home_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    width: 100%;
  }

  .div_button {
    // margin: 0 0 0 0;
    padding: 1rem 0 1rem 0;
    width: 100%;
    border-radius: 3rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }

  .home_register {
    background-color: var(--bs-primary);
    border: solid var(--bs-primary);
    border-width: .5rem;
    color: var(--bs-gray-200);
    margin-bottom: 1rem;
    text-decoration: none;
  }

  .home_login {
    color: var(--bs-primary);
    border: solid var(--bs-primary);
    border-width: .5rem;
    text-decoration: none;

  }

  .rincon_admin_input_div{
    display: flex;
    justify-content: space-between;

  }
  .btn_update_div{
    display: flex;
    justify-content: end;
  }
  .table_div{
    width:100%;
    table td:nth-child(1) {
      max-width: 1rem;
      word-wrap: break-word;
    }
    .padding_for_matching_option_box{
      padding:.12rem 0;
    }

  }

}

/* Admin DB DOWNload Page */
.admin_db_download_page {
  width: 90%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }

  .admin_db_sub {
    // padding: 2rem 5rem 2rem 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .download_db_tables_form{padding:1rem;}

  .ul_no_bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  .download_options{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0 3rem;
  }


}

/* Admin DB UPload Page */
.admin_db_upload_table_page {
  width: 90%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }


  .admin_db_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 50rem;
    height: 100vh;
  }
  .section_div {
    width: 100%;
    padding:1rem;
  }
  .section_div_sub {
    width: 97%;
    padding:1rem;
  }

  .details{
    padding: 1rem;
  }

  .download_db_tables_form{
    padding:1rem;

    .upload_input{width:100%;}
    .missing{background-color: var(--bs-warning);}
  }
  .btn_div{
    display: flex;
    justify-content: end;
  }
  .ul_no_bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  .white_bkground{
    background-color: var(--bs-gray-100);
    border-radius: .25rem;
    padding:0 .25rem;
  }

  .input_div_for_new_data{
    display: flex;
  }
}

.register_page_super{
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    .title {
    width: 100%;
  }

  .register_page {
    // padding: 2rem 5rem 2rem 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.error_page_super{
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    .title {
    width: 100%;
  }

  .error_page {
    // padding: 2rem 5rem 2rem 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .description{
    width:100%;
  }
}

.privacy_page{
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }
  .div_writing{
    padding:2rem;
  }
}

@media screen and (min-width: 768px) {
  .home_page {
    width: calc(100% - 5rem);
  }

}